<%= form_with(model: press_release) do |form| %>
  <% if press_release.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(press_release.errors.count, "error") %> prohibited this press_release from being saved:</h2>

      <ul>
        <% press_release.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :publish_date, style: "display: block" %>
    <%= form.datetime_field :publish_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :publisher_id, style: "display: block" %>
    <%= form.text_field :publisher_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
