<div id="<%= dom_id(press_release) %>" class="card">
  <div class="card-body">
    <h5 class="card-title">Press Release Details</h5>
    <p class="card-text"><strong>Title:</strong> <%= press_release.title %></p>
    <p class="card-text"><strong>Content:</strong> <%= press_release.content %></p>
    <p class="card-text"><strong>publish_date:</strong> <%= press_release.publish_date.strftime("%B %d, %Y %I:%M %p %Z") %></p>
    <p class="card-text"><strong>Status:</strong> <%= press_release.status %></p>
    <p class="card-text"><strong>Author:</strong> <%= press_release.author.email %></p>
    <p class="card-text"><strong>Publisher:</strong> <%= press_release.publisher.name %></p>

  </div>
</div>