<div id="<%= dom_id press_release %>">
  <p>
    <strong>Title:</strong>
    <%= press_release.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= press_release.content %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= press_release.publish_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= press_release.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= press_release.user_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= press_release.publisher_id %>
  </p>

</div>
