<%= form_with(model: publisher, html: {class: "needs-validation", novalidate: true}) do |form| %>
  <% if publisher.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(publisher.errors.count, "error") %> prohibited this publisher from being saved:</h4>
      <ul>
        <% publisher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" + (publisher.errors[:name].any? ? " is-invalid" : "") %>
    <% if publisher.errors[:name].any? %>
      <div class="invalid-feedback">
        <%= publisher.errors[:name].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" + (publisher.errors[:description].any? ? " is-invalid" : "") %>
    <% if publisher.errors[:description].any? %>
      <div class="invalid-feedback">
        <%= publisher.errors[:description].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :organization_id, "Organization" %>
    <%= form.collection_select :organization_id, Organization.all, :id, :name, {prompt: "Choose an Organization"}, {class: "form-select" + (publisher.errors[:organization_id].any? ? " is-invalid" : "")} %>
    <% if publisher.errors[:organization_id].any? %>
      <div class="invalid-feedback">
        <%= publisher.errors[:organization_id].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
