<%= form_with(model: organization, html: {class: "needs-validation", novalidate: true}) do |form| %>
  <% if organization.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(organization.errors.count, "error") %> prohibited this publisher from being saved:</h4>
      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" + (organization.errors[:name].any? ? " is-invalid" : "") %>
    <% if organization.errors[:name].any? %>
      <div class="invalid-feedback">
        <%= organization.errors[:name].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" + (organization.errors[:description].any? ? " is-invalid" : "") %>
    <% if organization.errors[:description].any? %>
      <div class="invalid-feedback">
        <%= organization.errors[:description].first %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
