<p class="text-success"><%= notice %></p>

<% if @organization.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render @organization %>

<div class="mt-5">
  <div class="row">
    <div class="col-2">
      <%= link_to "Edit this Organization", edit_organization_path(@organization), class: "btn btn-primary mr-2" %>
    </div>
    <div class="col">
      <%= button_to "Destroy this Organization", @organization, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
