<!DOCTYPE html>
<html>
  <head>
    <title>PressReleaseManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/header' %>
    <% if true #user_signed_in? && current_user.has_role?(:admin) %>
      <%= render partial: 'layouts/partials/admin_tabs' %>
    <% end %>

    <div class="container mt-5">
      <h2 class="mb-4">Featured Press Releases</h2>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  <%= render partial: 'layouts/partials/footer' %>
  </body>
  
</html>
